ErrorDocument 404 /404.html
RewriteEngine On
RewriteRule ^categoria-producto/pilot/?$ /lineas/ [R=301,L]
RewriteRule ^categoria-producto/pilot/?$ /lineas/ [R=301,L]
RewriteRule ^cat/pilot/?$ /lineas/ [R=301,L]
RewriteRule ^producto/set-rosado-5u-surtido/?$ /sets-y-kits/set-rosado-5u-surtido-p301037/ [R=301,L]
RewriteRule ^producto/set-celeste-5u-surtido/?$ /sets-y-kits/set-celeste-5u-surtido-p301038/ [R=301,L]
RewriteRule ^producto/set-l-piz-gel-poplol-met-licos-0-7-5u-c-estuche-gris/?$ /sets-y-kits/set-lapiz-gel-poplol-metalicos-0-7-5u-c-estuche-gris-blpl730/ [R=301,L]
RewriteRule ^producto/set-l-piz-gel-poplol-0-7-5u-c-estuche-rosado/?$ /sets-y-kits/set-lapiz-gel-poplol-0-7-5u-c-estuche-rosado-blpl729/ [R=301,L]
RewriteRule ^producto/set-l-piz-gel-poplol-0-7-5u-c-estuche-verde/?$ /sets-y-kits/set-lapiz-gel-poplol-0-7-5u-c-estuche-verde-blpl728/ [R=301,L]
RewriteRule ^producto/set-l-piz-gel-poplol-0-7-5u-c-estuche-naranja/?$ /sets-y-kits/set-lapiz-gel-poplol-0-7-5u-c-estuche-naranja-blpl727/ [R=301,L]
RewriteRule ^producto/set-violeta-5u-surtido/?$ /sets-y-kits/set-violeta-5u-surtido-p301036/ [R=301,L]
RewriteRule ^producto/set-marcadores-doble-punta-12-un/?$ /sets-y-kits/set-marcadores-doble-punta-12-un-scatms12n/ [R=301,L]
RewriteRule ^producto/set-l-pices-almighty-flower-7-un/?$ /sets-y-kits/set-lapices-almighty-flower-7-un-p301010/ [R=301,L]
RewriteRule ^producto/set-l-pices-almighty-mountain-7-un/?$ /sets-y-kits/set-lapices-almighty-mountain-7-un-p301009/ [R=301,L]
RewriteRule ^producto/set-pizarra-estuche-notebook-marcadores/?$ /sets-y-kits/set-pizarra-estuche-notebook-marcadores-p401001/ [R=301,L]
RewriteRule ^producto/set-l-pices-gel-pop-lol-0-7-42-un/?$ /sets-y-kits/set-lapices-gel-pop-lol-0-7-42-un-blpl722/ [R=301,L]
RewriteRule ^producto/set-l-piz-gel-pop-lol-0-7-16-un-golden-green/?$ /sets-y-kits/set-lapiz-gel-pop-lol-0-7-16-un-golden-green-blpl721/ [R=301,L]
RewriteRule ^producto/set-l-pices-gel-pop-lol-0-7-16-un-magenta-sky/?$ /sets-y-kits/set-lapices-gel-pop-lol-0-7-16-un-magenta-sky-blpl720/ [R=301,L]
RewriteRule ^producto/set-pintor-4-puntas-color-dorado/?$ /sets-y-kits/set-pintor-4-puntas-color-dorado-p101m13/ [R=301,L]
RewriteRule ^producto/set-pintor-4-puntas-color-plateado/?$ /sets-y-kits/set-pintor-4-puntas-color-plateado-p101m14/ [R=301,L]
RewriteRule ^producto/set-pintor-4-puntas-color-negro/?$ /sets-y-kits/set-pintor-4-puntas-color-negro-p101m11/ [R=301,L]
RewriteRule ^producto/set-3-pintor-estuche-personalizable/?$ /sets-y-kits/set-3-pintor-estuche-personalizable-p101m10/ [R=301,L]
RewriteRule ^producto/set-3-pintor-bolsa-personalizable/?$ /sets-y-kits/set-3-pintor-bolsa-personalizable-p101m09/ [R=301,L]
RewriteRule ^producto/set-3-pintor-taz-n-450-ml/?$ /sets-y-kits/set-3-pintor-tazon-450-ml-swptm3ttzz/ [R=301,L]
RewriteRule ^producto/set-pintor-met-licos-punta-biselada-6-un/?$ /sets-y-kits/set-pintor-metalicos-punta-biselada-6-un-swptbs6m/ [R=301,L]
RewriteRule ^producto/set-pintor-pastel-punta-biselada-6-un/?$ /sets-y-kits/set-pintor-pastel-punta-biselada-6-un-swptbs6p/ [R=301,L]
RewriteRule ^producto/set-pintor-cl-sicos-punta-biselada-6-un/?$ /sets-y-kits/set-pintor-clasicos-punta-biselada-6-un-swptbs6/ [R=301,L]
RewriteRule ^producto/set-pintor-ne-n-punta-biselada-4-un/?$ /sets-y-kits/set-pintor-neon-punta-biselada-4-un-swptb07/ [R=301,L]
RewriteRule ^producto/set-pintor-met-licos-punta-biselada-4-un/?$ /sets-y-kits/set-pintor-metalicos-punta-biselada-4-un-swptb05/ [R=301,L]
RewriteRule ^producto/set-pintor-pastel-punta-biselada-4-un/?$ /sets-y-kits/set-pintor-pastel-punta-biselada-4-un-swptb03/ [R=301,L]
RewriteRule ^producto/set-pintor-medio-12u-surtido/?$ /sets-y-kits/set-pintor-medio-12u-surtido-swptms12/ [R=301,L]
RewriteRule ^producto/set-pintor-cl-sicos-punta-media-6-un/?$ /sets-y-kits/set-pintor-clasicos-punta-media-6-un-swptms6/ [R=301,L]
RewriteRule ^producto/set-pintor-pastel-punta-media-6-un/?$ /sets-y-kits/set-pintor-pastel-punta-media-6-un-swptms6p/ [R=301,L]
RewriteRule ^producto/set-pintor-met-licos-punta-media-6-un/?$ /sets-y-kits/set-pintor-metalicos-punta-media-6-un-swptms6m/ [R=301,L]
RewriteRule ^producto/set-pintor-ne-n-punta-media-4-un/?$ /sets-y-kits/set-pintor-neon-punta-media-4-un-swptm07/ [R=301,L]
RewriteRule ^producto/set-pintor-met-licos-punta-media-4-un/?$ /sets-y-kits/set-pintor-metalicos-punta-media-4-un-swptm05/ [R=301,L]
RewriteRule ^producto/set-pintor-violeta-punta-media-4-un/?$ /sets-y-kits/set-pintor-violeta-punta-media-4-un-swptm04/ [R=301,L]
RewriteRule ^producto/set-pintor-pastel-punta-media-4-un/?$ /sets-y-kits/set-pintor-pastel-punta-media-4-un-swptm03/ [R=301,L]
RewriteRule ^producto/set-pintor-cl-sicos-punta-media-4-un/?$ /sets-y-kits/set-pintor-clasicos-punta-media-4-un-swptm02/ [R=301,L]
RewriteRule ^producto/set-pintor-glam-punta-media-4-un/?$ /sets-y-kits/set-pintor-glam-punta-media-4-un-swptm01/ [R=301,L]
RewriteRule ^producto/set-pintor-surtidos-punta-fina-12-un/?$ /sets-y-kits/set-pintor-surtidos-punta-fina-12-un-swptfs12/ [R=301,L]
RewriteRule ^producto/set-pintor-pastel-punta-fina-6-un/?$ /sets-y-kits/set-pintor-pastel-punta-fina-6-un-swptfs6p/ [R=301,L]
RewriteRule ^producto/set-pintor-met-lico-punta-fina-6-un/?$ /sets-y-kits/set-pintor-metalico-punta-fina-6-un-swptfs6m/ [R=301,L]
RewriteRule ^producto/set-pintor-cl-sicos-punta-fina-6-un/?$ /sets-y-kits/set-pintor-clasicos-punta-fina-6-un-swptfs6/ [R=301,L]
RewriteRule ^producto/set-pintor-met-lico-punta-fina-4-un/?$ /sets-y-kits/set-pintor-metalico-punta-fina-4-un-swptf05/ [R=301,L]
RewriteRule ^producto/set-pintor-violeta-punta-fina-4-un/?$ /sets-y-kits/set-pintor-violeta-punta-fina-4-un-swptf04/ [R=301,L]
RewriteRule ^producto/set-pintor-pastel-punta-fina-4-un/?$ /sets-y-kits/set-pintor-pastel-punta-fina-4-un-swptf03/ [R=301,L]
RewriteRule ^producto/set-pintor-cl-sicos-punta-fina-4-un/?$ /sets-y-kits/set-pintor-clasicos-punta-fina-4-un-swptf02/ [R=301,L]
RewriteRule ^producto/set-pintor-glam-punta-fina-4-un/?$ /sets-y-kits/set-pintor-glam-punta-fina-4-un-swptf01/ [R=301,L]
RewriteRule ^producto/set-pintor-surtidos-extra-finos-12-un/?$ /sets-y-kits/set-pintor-surtidos-extra-finos-12-un-swptefs12/ [R=301,L]
RewriteRule ^producto/set-pintor-pastel-extra-finos-6-un/?$ /sets-y-kits/set-pintor-pastel-extra-finos-6-un-swptefs6p/ [R=301,L]
RewriteRule ^producto/set-pintor-met-licos-extra-finos-6-un/?$ /sets-y-kits/set-pintor-metalicos-extra-finos-6-un-swptefs6m/ [R=301,L]
RewriteRule ^producto/set-pintor-cl-sicos-extra-finos-6-un/?$ /sets-y-kits/set-pintor-clasicos-extra-finos-6-un-swptefs6/ [R=301,L]
RewriteRule ^producto/set-pintor-met-licos-extra-finos-4-un/?$ /sets-y-kits/set-pintor-metalicos-extra-finos-4-un-swptef05/ [R=301,L]
RewriteRule ^producto/set-pintor-violeta-extra-finos-4-un/?$ /sets-y-kits/set-pintor-violeta-extra-finos-4-un-swptef04/ [R=301,L]
RewriteRule ^producto/set-pintor-pastel-extra-finos-4-un/?$ /sets-y-kits/set-pintor-pastel-extra-finos-4-un-swptef03/ [R=301,L]
RewriteRule ^producto/set-pintor-cl-sicos-extra-finos-4-un/?$ /sets-y-kits/set-pintor-clasicos-extra-finos-4-un-swptef02/ [R=301,L]
RewriteRule ^producto/set-tiral-neas-permanente-5-un/?$ /sets-y-kits/set-tiralineas-permanente-5-un-swdrs5n/ [R=301,L]
RewriteRule ^producto/marcador-doble-punta-caf-oscuro/?$ /sets-y-kits/marcador-doble-punta-cafe-oscuro-scatmbn/ [R=301,L]
RewriteRule ^producto/marcador-ropa-permawash-negro/?$ /sets-y-kits/marcador-ropa-permawash-negro-swlmfb/ [R=301,L]
RewriteRule ^producto/marcador-ropa-laundry-tec-negro/?$ /sets-y-kits/marcador-ropa-laundry-tec-negro-scaltmb/ [R=301,L]
RewriteRule ^producto/mina-de-color-0-7-r-y-o/?$ /sets-y-kits/mina-de-color-0-7-r-y-o-plcr7ryo/ [R=301,L]
RewriteRule ^producto/minas-colores-0-7-rosado-violeta-turquesa/?$ /sets-y-kits/minas-colores-0-7-rosado-violeta-turquesa-plcr7pvsl/ [R=301,L]
RewriteRule ^producto/minas-colores-0-7-rojo-azul-verde/?$ /sets-y-kits/minas-colores-0-7-rojo-azul-verde-plcr7rlg/ [R=301,L]
RewriteRule ^producto/repuesto-bps-1-0-azul/?$ /sets-y-kits/repuesto-bps-1-0-azul-rfnggml/ [R=301,L]
RewriteRule ^producto/repuesto-bps-0-7-azul/?$ /sets-y-kits/repuesto-bps-0-7-azul-rfnggfl/ [R=301,L]
RewriteRule ^producto/repuesto-rexgrip-1-0/?$ /sets-y-kits/repuesto-rexgrip-1-0-rfnsggml/ [R=301,L]
RewriteRule ^producto/set-l-pices-pasta-bp1-1-0/?$ /sets-y-kits/set-lapices-pasta-bp1-1-0-bp1rtmset01/ [R=301,L]
RewriteRule ^producto/set-l-pices-gel-g-tec-c-maica-0-4-6-un/?$ /sets-y-kits/set-lapices-gel-g-tec-c-maica-0-4-6-un-blgcm406/ [R=301,L]
RewriteRule ^producto/set-l-pices-tinta-hi-tecpoint-v5-6-un/?$ /sets-y-kits/set-lapices-tinta-hi-tecpoint-v5-6-un-bxv502/ [R=301,L]
RewriteRule ^producto/set-l-pices-tinta-hi-tecpoint-v5-6-un/?$ /sets-y-kits/set-lapices-tinta-hi-tecpoint-v5-6-un-bxv501/ [R=301,L]
RewriteRule ^producto/set-marcadores-frixion-colors-12-un/?$ /sets-y-kits/set-marcadores-frixion-colors-12-un-swfcs12/ [R=301,L]
RewriteRule ^producto/set-marcadores-frixion-colors-6-un/?$ /sets-y-kits/set-marcadores-frixion-colors-6-un-swfcs6/ [R=301,L]
RewriteRule ^producto/set-marcadores-fixion-fineliner-12-un/?$ /sets-y-kits/set-marcadores-fixion-fineliner-12-un-swffs12/ [R=301,L]
RewriteRule ^producto/set-marcadores-fixion-fineliner-6-un/?$ /sets-y-kits/set-marcadores-fixion-fineliner-6-un-swffs6/ [R=301,L]
RewriteRule ^producto/set-gel-pop-lol-ne-n-estuche/?$ /sets-y-kits/set-gel-pop-lol-neon-estuche-blpl719/ [R=301,L]
RewriteRule ^producto/set-gel-pop-lol-ne-n-estuche/?$ /sets-y-kits/set-gel-pop-lol-neon-estuche-blpl718/ [R=301,L]
RewriteRule ^producto/set-l-pices-gel-pop-lol-0-7-18-un/?$ /sets-y-kits/set-lapices-gel-pop-lol-0-7-18-un-blpl717/ [R=301,L]
RewriteRule ^producto/set-l-pices-gel-pop-lol-0-7-jelly-jelly-24-un/?$ /sets-y-kits/set-lapices-gel-pop-lol-0-7-jelly-jelly-24-un-blpl716/ [R=301,L]
RewriteRule ^producto/set-l-pices-gel-pop-lol-0-7-bubblegum-24-un/?$ /sets-y-kits/set-lapices-gel-pop-lol-0-7-bubblegum-24-un-blpl715/ [R=301,L]
RewriteRule ^producto/set-l-pices-gel-pop-lol-0-7-rainbow-12-un/?$ /sets-y-kits/set-lapices-gel-pop-lol-0-7-rainbow-12-un-blpl714/ [R=301,L]
RewriteRule ^producto/set-pop-lol-0-7-unicorn-12-un/?$ /sets-y-kits/set-pop-lol-0-7-unicorn-12-un-blpl713/ [R=301,L]
RewriteRule ^producto/set-l-pices-gel-pop-lol-0-7-marshmallow-12-un/?$ /sets-y-kits/set-lapices-gel-pop-lol-0-7-marshmallow-12-un-blpl712/ [R=301,L]
RewriteRule ^producto/set-l-pices-gel-pop-lol-0-7-lollipop-12-un/?$ /sets-y-kits/set-lapices-gel-pop-lol-0-7-lollipop-12-un-blpl711/ [R=301,L]
RewriteRule ^producto/set-l-pices-gel-pop-lol-0-7-sunshine-12-un/?$ /sets-y-kits/set-lapices-gel-pop-lol-0-7-sunshine-12-un-blpl710/ [R=301,L]
RewriteRule ^producto/set-l-pices-gel-pop-lol-0-7-tutti-frutti-12-un/?$ /sets-y-kits/set-lapices-gel-pop-lol-0-7-tutti-frutti-12-un-blpl709/ [R=301,L]
RewriteRule ^producto/set-l-pices-gel-pop-lol-0-7-candy-12-un/?$ /sets-y-kits/set-lapices-gel-pop-lol-0-7-candy-12-un-blpl708/ [R=301,L]
RewriteRule ^producto/set-l-pices-gel-pop-lol-ne-n-6-un/?$ /sets-y-kits/set-lapices-gel-pop-lol-neon-6-un-blpl7nx6comp/ [R=301,L]
RewriteRule ^producto/set-l-pices-gel-pop-lol-b-sicos-6-un/?$ /sets-y-kits/set-lapices-gel-pop-lol-basicos-6-un-blpl705/ [R=301,L]
RewriteRule ^producto/set-l-pices-gel-pop-lol-rosados-6-un/?$ /sets-y-kits/set-lapices-gel-pop-lol-rosados-6-un-blpl704/ [R=301,L]
RewriteRule ^producto/set-l-pices-gel-pop-lol-cl-sicos-6-un/?$ /sets-y-kits/set-lapices-gel-pop-lol-clasicos-6-un-blpl703/ [R=301,L]
RewriteRule ^producto/set-l-pices-gel-pop-lol-met-licos-6-un/?$ /sets-y-kits/set-lapices-gel-pop-lol-metalicos-6-un-blpl702/ [R=301,L]
RewriteRule ^producto/set-l-pices-gel-pop-lol-pastel-6-un/?$ /sets-y-kits/set-lapices-gel-pop-lol-pastel-6-un-blpl701/ [R=301,L]
RewriteRule ^producto/set-l-pices-s-per-gel-0-7/?$ /sets-y-kits/set-lapices-super-gel-0-7-blsg7set01/ [R=301,L]
RewriteRule ^producto/set-marcador-pizarra-v-board-master-biselado-5-un/?$ /sets-y-kits/set-marcador-pizarra-v-board-master-biselado-5-un-wbmavbmmcs5/ [R=301,L]
RewriteRule ^producto/marcador-pizarra-v-board-master-set-5-un/?$ /sets-y-kits/marcador-pizarra-v-board-master-set-5-un-wbmavbmms5/ [R=301,L]
